# ======================================================
# Visual Studio / Windows
# ======================================================
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb

# ======================================================
# Build outputs
# ======================================================
Debug/
Release/
x64/
x86/
bin/
obj/

*.pdb
*.idb
*.ilk
*.exp
*.lib

# ======================================================
# Executáveis e DLLs gerados
# ======================================================
*.exe
*.dll

# ======================================================
# Logs
# ======================================================
*.log

# ======================================================
# ImGui
# ======================================================
imgui.ini

# ======================================================
# SDK (REMOVIDO INTENCIONALMENTE)
# Ignora tudo, exceto arquivos .md
# ======================================================
dahax_dll/dahax/SDK/**

!dahax_dll/dahax/SDK/**/*.md
